body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: auto;
    background-color: dimgray;
}
.main {
    display:flex;
    flex-flow: column nowrap;
    background-color:indianred;
    border-radius: 15%;
    width:30vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.calcName {
    color: gold;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.display {
    display:flex;
    background-color: darkcyan;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: auto;
    margin-top: 0px;
    width: 25vw;
    height: 22.5vh;
}
.currentInput{
    margin:0;
    display:flex;
    flex-wrap: wrap;
    flex-grow: 2;
    border: 2px solid black;
    border-top: 0px;
    width: 24.8vw;
    height: 15vh;
    overflow-wrap:break-word;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(200, 255, 255);
    font-size: 2.5em;
}
.displayText{
    margin:0;
    display: flex;
    flex: auto;
    border: 2px solid black;
    border-bottom: 0px;
    width: 24.8vw;
    height: 12.5vh;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    background-color: rgb(200, 255, 255);
    font-size: 20px;
}
.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    
}
.operators {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    flex: 1 1 20px;
    max-height: 50px;
    width: 300px;
}
.numbers {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    margin-top: 40px;
    height: 150px;
    width: 300px;
}
.button {
    font-size: 28px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 25%;
}
.op {
    background-color: darkgray;
}
.num {
    background-color:gainsboro;
}
.equals {
    height: 195px;
    border-radius: 5%;
    font-size: 3em;
}
.button:hover {
    transition: ease-in;
    transition-duration: 0.25s;
    background-color: chartreuse;
}
.active {
    transition: ease-in;
    transition-duration: 0.25s;
    background-color: chartreuse;
}


