body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    margin-bottom: auto;
    background-color: dimgray;
}
.main {
    display:flex;
    flex-flow: column nowrap;
    background-color: red;
    width:30vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.display {
    display:flex;
    background-color: azure;
    flex-flow: column nowrap;
    width: 25vw;
    height: 22.5vh;
    
}
.currentInput{
    margin:0;
    display:flex;
    flex-wrap: wrap;
    flex-grow: 2;
    border: 2px solid black;
    border-top: 0px;
    width: 24.8vw;
    height: 12.5vh;
    overflow-wrap:break-word;
    word-wrap: break-word;
    word-break: break-all;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 30px;
}
.displayText{
    margin:0;
    display: flex;
    flex: auto;
    border: 2px solid black;
    border-bottom: 0px;
    width: 24.8vw;
    height: 12.5vh;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    font-size: 20px;
    
}