body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: auto;
    background-color: dimgray;
}
.main {
    display:flex;
    flex-flow: column nowrap;
    background-color:rgb(90, 165, 190);
    border-radius: 15%;
    width:40vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}
.calcName {
    color: gold;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.display {
    display:flex;
    background-color: darkcyan;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: auto;
    margin-top: 0px;
    width: 90%;
    height: 28%;
}
.currentInput{
    margin:0;
    display:flex;
    flex-wrap: wrap;
    flex-grow: 2;
    border: 2px solid black;
    border-top: 0px;
    width: 100%;
    height: 15vh;
    overflow-wrap:break-word;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(200, 255, 255);
    font-size: 2.5em;
}
.displayText{
    margin:0;
    display: flex;
    flex: auto;
    border: 2px solid black;
    border-bottom: 0px;
    width: 100%;
    height: 12.5vh;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    text-align: right;
    background-color: rgb(200, 255, 255);
    font-size: 1.5em;
}
.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.operators {
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    flex: 1 1 20px;
    max-height: 50px;
    width: 90%;
}
.numbers {
    display: flex;
    flex: auto;
    flex-flow: column wrap;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 150px;
    width: 90%;
}
.button {
    font-size: 2rem;
    margin: 2px;
    border: 1px solid black;
    border-radius: 25%;
}
.operators>button {
    background-color: rgb(147, 150, 111);
}
.numbers>button {
    background-color:rgb(125, 161, 130);
}
.equals {
    height: 83%;
    border-radius: 5%;
    font-size: 3em;
}
.button:hover {
    transition: ease-in;
    transition-duration: 0.25s;
    background-color: chartreuse;
}
.active {
    transition: ease-in;
    transition-duration: 0.25s;
    background-color: chartreuse;
}


